
@media screen and (max-width: 880px) {
  .hero {
    height: 100vh;
    padding: 100px 0px 80px;
  }

  .hero .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:flex-start;
  }
  .company{
    margin-bottom: 30px;
  }
  .company h2{
    padding-left: 20px;
  }
  

  .hero .details { width: 90%;}

  .hero .details .top {
    margin-bottom: 60px;
  }

  .hero .details .top h2 {
    font-size: 2em;
    margin-bottom: 40px;
  }

  .hero .details .top p { 
    width: 400px;
    max-width: 100%;
  }
  .services .right{
    width: 70%;
    margin: auto;
  }
  .testimonials .box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }


  .testimonials .right {
    width: 85%;
    margin: 0 auto;
  }

}