* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
:root{
  --main-color: rgb(214, 154, 214);
  --main-color-2:rgb(7, 221, 157);
}
body {
  font-family:  sans-serif;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.5;
  color: #212121;
  position: relative;
}

h1, h2, h3 {
  line-height: 1.1;
}

img {
  display: inline-block;
  max-width: 100%;
}

a {
  display: inline-block;
  text-decoration: none;
  color: tomato;
}


.container {
  width: 960px;
  max-width: 95%;
  margin: 0 auto;
}

.heading {
  padding: 75px 0 80px;
  text-align: center;
}

.heading h3 {
  font-size: 2em;
  color: #fff;
  margin-bottom: 15px;
}

.heading p {
  line-height: 1.7;
  font-weight: 500;
}

/*ends basic*/

header {
  padding: 30px 0 30px;
  background: transparent;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 5;
}

header.sticky {
  padding: 10px 0px;
  background: #ffffff;
}

header .container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

header .logo h2 a {
  text-transform: uppercase;
  font-weight: 700;
  font-family: 'Courier New', Courier, monospace;
  font-size: 38px;
  color: #fcfcfc;
  letter-spacing: 2px;
  transition: .3s color;
}

header.sticky .logo h2 a {
  color: #262a34;
}

header nav ul {
  list-style: none;
}

header nav ul li {
  display: inline-block;
}

header nav ul li a {
  font-size: .95em;
  font-weight: 500;
  margin-left: 15px;
  padding: 0px 5px 3px;
  border-bottom: 2px solid transparent;
  color: #212121;
  transition: .3s border-bottom;
}

header nav ul li a:hover {
  border-bottom: 2px solid #212121;
}

header.sticky nav ul li a {
  font-weight: 600;
}

/*ends header*/
/* #56c5c0 */
.hero {
  height: 100vh;
  padding: 220px 0px 100px;
  background-color: var(--main-color);
  position: relative;
}

.hero .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero .company { 
  width: 30%;
  font-size: 51px;
  align-self: flex-start;
}

.hero .details { width: 50%;}

.hero .details .top {
  margin-bottom: 70px;
}

.hero .details .top h2 {
  font-size: 2.5em;
  font-weight: 700;
  margin-bottom: 50px;
}

.hero .details .top h2 span { color: #fff;}

.hero .details .top p { 
  width: 340px;
  max-width: 100%;
  font-weight: 500;
  color: #333;
}

/*ends hero*/

.services {
  background: #2A2E37;
  color: #fefefe;
  padding: 100px 0;
  position: relative;
  z-index: 2;
}

.services .container {
  width: 800px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.services .left {
  width: 320px;
  margin: 30px 10px; 
}

.services .left h3 {
  font-size: 1.8em;
  margin-bottom: 40px; 
}

.services .left p {
  color: #c5c5c5;
  margin-bottom: 50px;
}

.services .left a {
  padding: 10px 30px;
  border-radius: 4px;
  background: var(--main-color);
  color: #fff;
  font-weight: 500;
}

.services .left a:hover {
  background: rgb(211, 41, 211);
}

.services .right {
  width: 50%;
  border-radius: 5px;
  overflow: hidden;
  max-width: 500px;
}
.services .right img{
  border-radius: 5px;
}



/*ends services*/

.testimonials {
  background: var(--main-color);
  padding: 50px 0px;

  position: relative;
}

.testimonials .box {
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: space-around;
}


.testimonials .right {
  width: 50%;
  background: #fff;
  padding: 30px 40px;
  border-radius: 12px;
  max-width: 500px;
}

.testimonials .right .quote p {
  margin-bottom: 15px;
  font-style: italic;
  font-weight: 500;
}

.testimonials .right .quote cite {
  font-size: 1.2em;
  color: #81aba8;
}

/*ends testimonials*/

.join {
  background: #262a33;
  color: #fff;
  padding: 0 0 100px;
}

.join .heading h3 {color: #fff;}

.join .action form {text-align: center;}

.join .action form input[type="email"] {
  width: 450px;
  max-width: 100%;
  padding: 12px 15px;
  background-color: #51555d;
  color: #fff;
  border: none;
  outline: none;
  margin: 0 10px 20px 0;
  border-radius: 5px;
}
input[type="email"]::placeholder{
  color: white;
}

.join .action form input[type="submit"] {
  padding: 10px 35px;
  border: none;
  outline: none;
  background: #ffffff;
  color: #262a33;
  font-size: 1em;
  font-weight: 600;
  cursor: pointer;
  border-radius: 5px;
}

.join .action form input[type="submit"]:hover {
  background: #d2d2d2;
  color: #000000;
}

/*ends join*/

footer {
  background-color: #f9f9f9;
  padding: 50px 0px;
}

footer .container {text-align: center;}



footer p {
  font-weight: 700;
  color: #262a34;
}

footer p a {color: var(--main-color);}

footer p a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 880px) {
  .hero {
    height: 100vh;
    padding: 100px 0px 80px;
  }

  .hero .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:flex-start;
  }
  .company{
    margin-bottom: 30px;
  }
  .company h2{
    padding-left: 20px;
  }
  

  .hero .details { width: 90%;}

  .hero .details .top {
    margin-bottom: 60px;
  }

  .hero .details .top h2 {
    font-size: 2em;
    margin-bottom: 40px;
  }

  .hero .details .top p { 
    width: 400px;
    max-width: 100%;
  }
  .services .right{
    width: 70%;
    margin: auto;
  }
  .testimonials .box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }


  .testimonials .right {
    width: 85%;
    margin: 0 auto;
  }

}